<% if object.errors.any? %>
  <div id="error_explanation">
    <% object.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger" id="error"> <%= msg %></div>
    <% end %>
  </div>
<% end %>
