<% @posts.each do |post| %>
  <% column_number += 1%>
  <%next if !(column_number % 3 == 1)%>
  <div class="post-full panel panel-default">
    <div class="post-image"><%= image_tag post.image, class: "homepage-post-image"%></div>
    <div><h2><%= link_to post.title, post_path(post.id), class: "post-title"%></h2></div>
    <div class="post-body"><%= get_limited_version(post.body) %></div>
  </div>
<% end %>
