<h2> SG Blog </h2>

<%= button_to "Create new post", new_post_path, :method => :get%>

  <% @posts.each do |post| %>
    <%= link_to post.title, post_path(post.id)%>
    <%= get_limited_version(post.body) %>
  <% end %>
