<div class="posts-block"><% @posts.each do |post| %>
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="post-all">
      <div class="post-all">
        <div class="post-image"><%= image_tag post.image, class: "homepage-post-image"%></div>
        <div><h2><%= link_to post.title, post_path(post.id), class: "post-title"%></h2></div>
        <div><p class="post-body"><%= get_limited_version(post.body) %><p></div>
      </div>
    </div>
  </div>
  <% end %></div>
