<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
  <%= render "post", :column_number => 0%>
</div>

<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
  <%= render "post", :column_number => 1%>
</div>

<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
  <%= render "post", :column_number => 2%>
</div>
