<div class="posts-block">
  <div class="post-all">
    <h2><%= @post.title%></h2>
    <%= @post.body%>
  </div>

<br>

  <div >
    <%= button_to "Edit post", edit_post_path, :method => :get, class: "button", id: "post_title"%>
    <%= button_to "Delete post", post_path, class: "button", :method => :delete%>
  </div>
</div>
