<p style = "font-size: 20px"> <%= @post.title%></p>

<p> <%= @post.body%> </p>

<%= button_to "Edit post", edit_post_path, :method => :get, class: "post_title", id: "post_title"%>
<%= button_to "Delete post", post_path, :method => :delete%>
