
.post-all{
  margin-top: 30px;
}

.post-all .post-title{
  color: #191919;
  font-family: "Times New Roman", Georgia, Serif;
  word-wrap: break-word;
}

.homepage-post-image{
  max-width: 400px;
  max-height: 150px;
}

.post-image{
  text-align: center;
}

.show-image{
  max-height: 500px;
  max-width: 800px;
}

#post-counter{
  font-size: 20px;
}
