body{
 background-color: #f5f5f5;
}

.post-full{
  padding: 12px;
}

.post-full .post-title{
  color: #191919;
  font-family: "Times New Roman", Georgia, Serif;
  word-wrap: break-word;
}

h2{
  margin-top: 5px;
}

.homepage-post-image{
  max-width: 400px;
  max-height: 150px;
}

.post-image{
  text-align: center;
}

.post-body{
  word-wrap: break-word;
}

.show-image{
  max-height: 500px;
  max-width: 800px;
}

#post-counter{
  font-size: 20px;
}
