
.posts-block, .post-form{
  background-color: #ffffff;
  border-radius: 25px;
  margin: 0 auto;
  width: 60%;
}

.post-form{
  text-align: center;
}

.post-all{
  margin-top: 25px;
}

.post-all .post-title{
  color: #191919;
  font-family: "Times New Roman", Georgia, Serif;
}

.post-body{
  margin-left: 10px;
}

.button{
  background-color: #262626;
  border: none;
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
  color: #838383;
}

#post_title{
  float: left;
  margin: 0px 5px 0px 5px;
}
