
.posts-block, .post-form{
  background-color: #ffffff;
  border-radius: 25px;
  margin: 0 auto;
  margin-left: 15%;
  margin-right: 15%;
}

.post-form{
  text-align: center;
}

.post-all{
  margin-top: 5px;
}

.post-all .post-title{
  color: #191919;
  font-family: "Times New Roman", Georgia, Serif;
}

.post-body{
  margin-left: 10px;
}

.button{
  background-color: #262626;
  border: none;
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
  color: #838383;
}

#post_title{
  float: left;
  margin: 0px 5px 0px 5px;
}

.homepage-post-image{
  max-width: 100px;
  margin-right: 10px;
  margin-bottom: 25px;
}

.post-all-col{
  display:inline-block;
}

.bottom-space{
  width: 100%;
  bottom: 0;
  margin-bottom: 25px;
}
