.profile-left-bar{
  text-align: left;
  padding: 20px 20px 20px 20px;

}

.profile-avatar{
  max-width: 200px;
  max-height: 200px;
}

.profile-center-bar{
  vertical-align: top;
  width: 70%;
  text-align: center;
}

.user-list{
  text-align: left;
  padding-bottom: 7px;
}
